<div class="flex h-full min-h-0 flex-col gap-y-2 p-2">

  <app-add-category-button (addCategory)="addCategory($event)" />

  <div class="hide-scrollbar min-h-0 flex-1 overflow-y-auto py-2">

    <div class="flex flex-col gap-2">

      @for (category of categories(); track category.id)
      {
      <app-category-item [category]="category"
                         (saveCategory)="saveCategory($event)"
                         (deleteCategory)="deleteCategory($event)" />
      }

    </div>

  </div>

</div>
