<div class="flex items-center gap-2">

  @if (canScroll()) {
  <button class="rounded border px-3 py-2 disabled:opacity-40"
          [disabled]="!canScrollLeft()"
          (click)="scrollLeft()">

    &lt;

  </button>
  }

  <div #container
       class="flex flex-1 gap-2 overflow-x-hidden scroll-smooth">

    @for (page of pages(); track page) {

    <app-pagination-item class="shrink-0"
                         [pageNumber]="page"
                         [isActive]="page === activePage()"
                         (click)="onSelectPage($event)">
    </app-pagination-item>

    }

  </div>

  @if (canScroll()) {
  <button class="rounded border px-3 py-2 disabled:opacity-40"
          [disabled]="!canScrollRight()"
          (click)="scrollRight()">

    &gt;

  </button>
  }

</div>
